/* biome-ignore-all lint/correctness/noUnknownProperty: reason */
@import "tailwindcss";
@plugin "daisyui" {
  themes: lofi;
}

@plugin "daisyui/theme" {
  name: "lofi";
  --border: 2px;
  --radius-box: 0.25rem;
  --radius-field: 0.25rem;
  --radius-selector: 0.25rem;
  --depth: 0;
  --noise: 0;
}

@theme {
  --shadow-neo: 4px 4px 0px 0px rgba(0, 0, 0, 1);
  --spacing-device-w: 390px;
  --spacing-device-h: 844px;
}

body {
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.04) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.04) 1px, transparent 1px);
  background-size: 24px 24px;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
